<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.example.sk_android">
    <!--jobSelect.JobWantedEditActivity-->
    <!--jobSelect.JobWantedManageActivity-->
    <!--jobSelect.IndustrySelectActivity-->
    <!--jobSelect.CitySelectActivity-->
    <!--jobSelect.JobSelectActivity-->
    <!--jobSelect.RecruitInfoShowActivity-->
    <!--jobSelect.JobSearchWithHistoryActivity-->
    <!--jobSelect.JobInfoDetailActivity-->
    <!--message.MessageChatRecordActivity-->
    <!--MessageChatWithoutLoginActivity-->
    <!--MessageChatActivity-->
    <dist:module
            dist:instant="true"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">


        <activity
                android:name=".mvp.view.activity.resume.ResumeListActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.view.activity.register.TelephoneResetPasswordActivity"
                  android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity android:name=".mvp.view.activity.register.PasswordVerifyActivity"
                  android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity android:name=".mvp.view.activity.resume.SendResumeActivity"
                  android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity android:name=".mvp.view.activity.register.MemberRegistActivity"
                  android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity android:name=".mvp.view.activity.register.SetPasswordActivity"
                  android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity android:name=".mvp.view.activity.register.ImproveInformationActivity"
                  android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity android:name=".mvp.view.activity.register.PersonInformationTwoActivity"
                  android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity android:name=".mvp.view.activity.register.PersonInformationThreeActivity"
                  android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity android:name=".mvp.view.activity.register.PersonInformationFourActivity"
                  android:theme="@style/AppTheme.ActionBar">
        </activity>
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.sk_android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths_public"></meta-data>
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest>
